body{
    background-color: black;
    margin-top: 200px;
}
#camila{
         border: 2px solid white ;
         margin-bottom: 14px;
}
.imagens{
    display: block;
    width: 203px;
}
#elizeu{
    width: 203px;
    margin-top: 7px;
    border: 2px solid white;
}
#trovao{
    width: 205px;
    margin-top: 7px;
    border: 2px solid white;
}
#luciano{
    width: 205px;
    margin-top: 7px;
    border: 2px solid white;
}
#camilaa{
    color: white;
    position: relative;
    bottom: 780px;
    left: 300px;
}
#elizeuu{
    color: white;
    position: relative;
    bottom: 600px;
    left: 300px;
}
#trovaoo{
    color: white;
    position: relative;
    bottom: 450px;
    left: 300px;
}
#subira{
         color: white;
         position: relative;
         bottom: 290px;
         left: 300px;
}
#camila:hover {
    transform: scale(1.2);
}    
#camila{
    transition: transform 0.4s ease;
}
#elizeu:hover{
    transform: scale(1.2);
}
#elizeu{
    transition: transform 0.4s ease;
}
#trovao{
    transition: transform 0.4s ease;
}
#trovao:hover{
    transform: scale(1.2);
}
#luciano{
    transition: transfom 0.4s ease;

}
#luciano:hover{
    transform: scale(1.2);
}
